
/* --- styles.css (Styling) --- */
body {
    font-family: 'Proxima Nova', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
    color: black;
}

header {
    background: white;
    color: #333;
    padding: 1em;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: black;
    color: white;
    padding: 10px;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.portfolio-grid img {
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
}

.portfolio-grid img:hover {
    transform: scale(1.05);
}
